<!-- This is the keyboard for rad zone selection -->
<div class="rad-keyboard">
    <!-- Group for 1st row of buttons -->
    <div class="btn-group-justified btn-row" id="key-row1">
        <div class="btn-group btn-holder" id="key1">
            <button class="btn btn-zone" id="rad-bed1"> Bed 1 </button>
        </div>
        <div class="btn-group btn-holder" id="key2">
            <button class="btn btn-zone" id="rad-bed2"> Bed 2 </button>
        </div>
        <div class="btn-group btn-holder" id="key3"> 
            <button class="btn btn-zone" id="rad-bed3"> Bed 3 </button> 
        </div>
        <div class="btn-group btn-holder" id="key4"> 
            <button class="btn btn-zone" id="rad-bed4"> Bed 4 </button> 
        </div>
        <div class="btn-group btn-holder" id="key5"> 
            <button class="btn btn-mode" id="control-rads"> Rads </button> 
        </div>    
    </div>
    <!-- Group for 2nd row of buttons -->
    <div class="btn-group-justified btn-row" id="key-row2">
        <div class="btn-group btn-holder" id="key6">
            <button class="btn btn-zone" id="rad-bed5"> Bed 5 </button>
        </div>
        <div class="btn-group btn-holder" id="key7">
            <button class="btn btn-zone" id="rad-bath1"> Bath 1 </button>
        </div>
        <div class="btn-group btn-holder" id="key8"> 
            <button class="btn btn-zone" id="rad-bath2"> Bath 2 </button> 
        </div>
        <div class="btn-group btn-holder" id="key9"> 
            <button class="btn btn-zone" id="rad-bath3/4"> Bath 3/4 </button> 
        </div>
        <div class="btn-group btn-holder" id="key10"> 
            <button class="btn btn-select" id="control-ufh"> Ufh </button> 
        </div>    
    </div>
    <!-- Group for 3rd row of buttons -->
    <div class="btn-group-justified btn-row" id="key-row3">
        <div class="btn-group btn-holder" id="key11">
            <button class="btn btn-zone" id="rad-hall-up"> Hall Up </button>
        </div>
        <div class="btn-group btn-holder" id="key12">
            <button class="btn btn-zone" id="rad-kitchen"> Kitchen </button>
        </div>
        <div class="btn-group btn-holder" id="key13"> 
            <button class="btn btn-zone" id="rad-dining"> Dining </button> 
        </div>
        <div class="btn-group btn-holder" id="key4"> 
            <button class="btn btn-zone" id="rad-library"> Library </button> 
        </div>
        <div class="btn-group btn-holder" id="key15"> 
            <button class="btn btn-select" id="control-system"> System </button> 
        </div>    
    </div>
    <!-- Group for 4th row of buttons -->
    <div class="btn-group-justified btn-row" id="key-row4">
        <div class="btn-group btn-holder" id="key16">
            <button class="btn btn-zone" id="rad-blank1"> &nbsp; </button>
        </div>
        <div class="btn-group btn-holder" id="key17">
            <button class="btn btn-zone" id="rad-cloak"> Cloak </button>
        </div>
        <div class="btn-group btn-holder" id="key18"> 
            <button class="btn btn-zone" id="rad-sitting"> Sitting </button> 
        </div>
        <div class="btn-group btn-holder" id="key19"> 
            <button class="btn btn-zone" id="rad-blank2"> &nbsp; </button> 
        </div>
        <div class="btn-group btn-holder" id="key20"> 
            <button class="btn btn-select" id="control-finished"> Finished </button> 
        </div>    
    </div>
</div>

